/* styles/_variables.css */
:root {
    --color-algorithmique: #0077b6; --color-hardware: #d00000; --color-cryptographie: #6a00f4;
    --color-theorie-de-linformation: #fca311; --color-reseau: #2a9d8f; --color-logiciel-libre: #e76f51;
    --color-internet: #1a73e8; --color-intelligence-artificielle: #8e44ad;
    --color-cybersecurite: #c0392b;
    --color-langage-de-programmation: #28a745;
    /* Couleurs des notes */
    --color-note-le-saviez-vous: #e6f7ff; --color-note-la-stat: #fff0f6;
    --color-note-fun-fact: #fffbe6; --color-note-la-star: #f9f0ff;
    --color-note-concept-cle: #e6fffa;
    --font-body: 'Lato', sans-serif; --font-title: 'Merriweather', serif;
    --color-text: #212529; --color-text-light: #6c757d; --color-bg-card: #ffffff;
    --color-bg-page: #f8f9fa; --color-border: #dee2e6;
}